.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
crash.log
*.tfvars
*.tfvars.json
.pytest_cache/
.pixi/
.DS_Store
.idea/
.vscode/
__pycache__/
.coverage

# Python packaging artifacts
*.egg
*.egg-info/
.eggs/
